{% extends 'base.html' %}

{% block content %}
<section class="usa-grid usa-section">
    <p>
        <strong>
    The United States Kimberley Process Authority (USKPA) is a
    not for profit trade association in the United States formed
    for the purpose of administering and controlling the usage of U.S.
    Kimberley Process certificates for the export of rough diamonds
    from the U.S. The USKPA is governed by a Board of Directors, and
    is located in New York City.
        </strong>
    </p>
    <p>
    Exports of rough diamonds from the US are regulated by the
    Clean Diamond Trade Act, a bill passed by Congress and signed by
    President George W. Bush in 2003. This legislation creates a system
    for the trade of rough diamonds consistent with the standards set by
    the Kimberley Process Certification Scheme (KPCS). The goal of the KPCS
    is to restrict the trade of rough diamonds known as "conflict diamonds."
    Conflict diamonds are rough diamonds used by rebel movements or their allies
    to finance conflict aimed at undermining legitimate governments.
    </p>

    <p>The USKPA is authorized by the U.S. government to provide US Kimberley
    Process certificates to licensed entities for use in exporting rough
    diamonds from the U.S. For further information regarding how to become
    licensed to use Kimberly Process certificates, click here.
    </p>
</section>
{% endblock %}
