{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}{% endblock %}</title>
  <script src="{% static 'vendor/jquery-3.3.1.min.js' %}"></script>
  <script defer src="{% static 'vendor/fontawesome-all.min.js' %}"></script>
  <script defer src="{% static 'vendor/uswds/js/uswds.min.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/uswds/css/uswds.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/uskpa.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/certificate-filters.css' %}">

  {% block header %}
  {% endblock %}
</head>

<body>
  {% include 'stage-banner.html' %}
  <header class="usa-header usa-header-extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
        <em class="usa-logo-text">
          <a href="{% url 'home' %}" title="Home" aria-label="Home">
            <img id='logo' alt="USKPA logo" src="{% static 'assets/USKPA-logo_with-type.png' %}">
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    {% include 'nav.html' %}
  </header>

  <main id="main-content">
    {% include 'messages.html' %}
    {% block content_title %}
    {% endblock content_title %}
    {% block content %}
    {% endblock content%}
  </main>

  {% include 'footer.html' %}

  {% block scripts %}
  {% endblock %}
</body>

</html>
