{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}USKPA Homepage{% endblock %}

{% block content %}
<section class="usa-hero usa-section">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-light">
      <h1>
         The United States Kimberley Process Authority
      </h1>

      <p>Authorized by the U.S. government to provide US Kimberley Process certificates to licensed entities for use in exporting
      rough diamonds from the U.S.
      </p>

      {% if user.is_authenticated %}
          <a class="usa-button" href="{% url 'certificates' %}">Browse Certificates</a>
      {% else %}
          <a class="usa-button" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</section>

<section class="usa-section" id="about">
  <div class="usa-grid">
    <div class='usa-width-one-third'>
      <h2>About Us</h2>
    </div>
    <div class='usa-width-two-thirds'>
      <p>
        The United States Kimberley Process Authority (USKPA) is a not-for-profit trade association in the United States formed
        for the purpose of administering and controlling the usage of U.S. Kimberley Process certificates for the export of rough
        diamonds from the U.S.
      </p>
      <p>The USKPA is governed by a Board of Directors and is located in New York City.</p>
      <p><a href="mailto:{{CONTACT_US}}">Contact Us</a></p>
    </div>
  </div>
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
</section>

<section class="usa-section usa-section-dark usa-graphic_list">

  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-third usa-media_block">
      <div class="usa-media_block-body">
        <h3>Clean Diamond Trade Act</h3>
        <p>The law regulating exports of rough diamonds from the US, creating a system for the trade of rough
        diamonds consistent with the standards set by the Kimberley Process Certification Scheme. </p>

      </div>
    </div>

    <div class="usa-width-one-third usa-media_block">
      <div class="usa-media_block-body">
        <h3>Kimberley Process Certification Scheme (KPCS)</h3>
        <p>The goal of the KPCS is to restrict the trade of rough diamonds known as "conflict diamonds."</p>
      </div>
    </div>

    <div class="usa-width-one-third usa-media_block">
      <div class="usa-media_block-body">
        <h3>Conflict Diamonds</h3>
        <p>Conflict diamonds are rough diamonds used by rebel movements or their allies to finance conflict aimed at undermining legitimate
        governments.</p>
      </div>
    </div>
  </div>
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
</section>

<section class="usa-section" id='useful-links'>
  <div class="usa-grid">
    <h2>Informative Links</h2>
    <div class='usa-width-one-fourth'>
      <a href="https://www.kimberleyprocess.com/">
        <img src="{% static 'assets/kplogo.png' %}" alt="Kimberly Process logo">
      </a>
    </div>
    <div class='usa-width-one-fourth'>
      <a href="https://www.state.gov/e/eb/tfs/tfc/diamonds/index.htm">
        <img src="{% static 'assets/us_dept_of_state.png' %}" alt="Seal of US Department of State">
      </a>
    </div>
    <div class='usa-width-one-fourth'>
      <a href="https://www.worlddiamondcouncil.org/">
        <img src="{% static 'assets/wdclogo.gif' %}" alt="World Diamond Council logo">
      </a>
    </div>
    <div class='usa-width-one-fourth'>
      <a href="http://www.diamondfacts.org/conflict-diamonds/">
        <img src="{% static 'assets/dfacts.gif' %}" alt="DiamondFacts logo">
      </a>
    </div>
  </div>

  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
</section>

<section class="usa-section usa-section-dark">

  <div class="usa-grid">
    <div class='usa-width-one-third'>
      <h2>Governance and Financials</h2>
    </div>
    <div class='usa-width-one-third'>
      <h3>Certification and Bylaws</h3>
      <ul>
        <li>
          <a href="{% static 'uskpa_documents/Delaware_Certification.pdf' %}">Certificate of Incorporation.pdf</a>
        </li>
        <li>
          <a href="{% static 'uskpa_documents/USKPA_BYLAWS.pdf' %}">USKPA Bylaws.pdf</a>
        </li>
      </ul>
    </div>
    <div class='usa-width-one-third'>
      <h3>IRS Form 990</h3>
      <ul>
        {% for path, filename in config.irs_docs %}
        <li>
          <a href="{% static path %}">{{filename}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
</section>

<section class="usa-section" id='training-docs'>
  <div class="usa-grid">    
    <div class='usa-width-one-third'>
      <h2>Training Session Documents</h2>
    </div>
    <div class='usa-width-one-third'>
      <h3>Licensee Documents</h3>
      <ul>
        <li>
          <a href="{% static 'uskpa_documents/Census_Licensee_presentation.pptx' %}">Census Licensee presentation.pptx</a>
        </li>        
      </ul>
    </div>
    <div class='usa-width-one-third'>    
       <h3>Customs Documents</h3>
      <ul>
        <li>
          <a href="{% static 'uskpa_documents/CBP_KP_LICENSEE_OUTREACH_2019.ppt' %}">CBP KP LICENSEE OUTREACH 2019.ppt</a>
        </li>        
      </ul>
    </div>
  </div>

  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
</section>

{% endblock %}
