{% extends 'base.html' %}

{% block title %}How to Export{% endblock %}
{% block content %}

<section class="usa-grid usa-section">

   
    <h1>How to Export</h1>

    <p>
        The United States of America (U.S.) is not a global producer of rough diamonds*. Therefore, any rough diamonds to be exported OUT of the U.S. must be Kimberley Process compliant imported rough stones in order to be legally exported FROM the U.S.
    </p>

    <p>
        Rough diamonds exported from the U.S. must be shipped by a licensed USKPA company. USKPA licenses are issued to companies that are bona fide members of the diamond industry, can show that they’ve been in business at least two years and can supply industry references.  
    </p>    
    
    <p>
      <strong>For all other rough diamond exports,</strong> please contact one of the following USKPA licensed common carriers to assist with your export:
    </p>
               
    <p>
        <li>
          <a href="https://www.brinksglobal.com/">Brinks</a>
        </li>
        <li>
          <a href="https://www.ferrarigroup.net/">Ferrari</a>
        </li>
        <li>
          <a href="https://www.loomis-international.com/">Loomis</a>
        </li>
        <li>
          <a href="https://www.malca-amit.com/legal/international-shipping">Malca Amit</a>
        </li>
    </p>
    
    <p>
        <i>Should you have a rough diamond to be exported for research or museum use, or if you have additional questions, please email <a href="mailto:martin@uskpa.org">martin@uskpa.org</a>.</i>
    </p>
    
           
    <p>
       *Small quantities of rough diamonds have been found at multiple locations throughout the U.S. Visitors to Crater of Diamonds State Park in Arkansas have been known to occasionally find rough diamonds on Park grounds. The park and the USKPA have created a process to legally export a rough diamond specifically found in the park, if desired by the owner of the stone.     
    </p>
</section>
{% endblock %}
