{% extends 'base.html' %}

{% block title %}Become a Licensee{% endblock %}
{% block content %}

<section class="usa-grid usa-section">

    <p><strong>
        According to federal regulations, Kimberley Process (KP) certificates must accompany every export of rough diamonds from the United States. Only USKPA licensees can obtain KP certificates for use when exporting rough diamonds. Unlicensed entities may export KP-compliant rough diamonds from the United States via USKPA licensees known as “common carriers,” which are listed here: Brinks, Ferrari, Loomis and Malca Amit.
 Entities that often export rough diamonds should consider becoming a USKPA licensee.
    </strong></p>

    <h1>How to become a USKPA Licensee</h1>

    <p>
        To become a USKPA licensee, you must complete an application, supply an industry reference and demonstrate that you are a bona fide member of the diamond industry, which can be done by showing that you have been in business for at least two years.
    </p>

    <p>
        After reviewing your submitted information and researching your company, the USKPA will contact you to advise whether or not additional information is required before approving your application. If your application is approved, the USKPA will prepare a license agreement with requirements including procedures for using KP certificates to export diamonds in compliance with regulations. These include an agreement to submit to periodic performance reviews by representatives of the U.S. government and the USKPA.
    </p>    
    
    <p>
        USKPA collects an annual fee from all licensees. Licensees in good standing are entitled to purchase KP certificates from the USKPA for use in exporting rough diamonds from the U.S.
    </p>
    
    <p>
        As a licensee, you will be asked to:
    </p>
        
    <p>
        <li>
            Ensure the security of KP certificates in your possession.
        </li>
        <li>
            Comply with all federal regulations pertaining to the use of KP certificates for the import and export of rough diamonds.
        </li>
        <li>
            Submit U.S. and foreign country KP certificates to the proper authorities in the U.S.
        </li>
        <li>
            Maintain all records and documentation pertaining to the use of KP certificates for five years.
        </li>
    </p>

    <p>
        There are additional legal requirements attendant to the legal export of rough diamonds from the United States.    These requirements pertain to certain federal systems noted here:
    </p>

    <p>
        Automated Commercial Environment (ACE): Your business must also register for an Exporter Account on the U.S. Custom and Border Protection’s <a href="https://ace.cbp.dhs.gov/acexpub/acexpub_Apps/ExporterAccountApplication/expForm.php">Automated Commercial Environment (ACE) website</a>. Once you have created an Exporter Account, <a href="mailto:{{CONTACT_US}}">contact the USKPA</a>. You will be required to provide documentation to the USKPA that you have successfully registered with the ACE system. Be prepared to provide detailed information about your business, including the state of incorporation, address, telephone number, fax number, email address, federal tax identification number, and a point of contact for your request.
    </p>
    
    <p>
        Automated Export System (AES):  As all U.S. exports must also comply with current U.S. export reporting requirements, USKPA licensees are required to use AES in the export of rough diamonds. ACE, described above, uses the Automated Export System (AES) to ensure compliance with export reporting requirements. Upon completion and filing of export documentation, the AES will provide an Internal Transaction Number (ITN) to reference on your KP certificate. Additional guidance on obtaining ITNs is available at <a href="https://www.census.gov/foreign-trade/aes/aesdirect/transitiontoace.html">ACE AESDirect Resources</a>. This includes the ACE AESDirect User Guide, information on registering for an account, a video that will walk you through filing a shipment, and more.
    </p>
        
    </p>
        <a href="mailto:{{CONTACT_US}}">Contact the USKPA</a> to become licensed to export rough diamonds from the U.S.*
    </p>

    </p>
        *Failure to adhere to the above requirements, and any additional ones promulgated, may prevent an applicant from receiving a USKPA license.
    </p>
</section>
{% endblock %}
