{% extends 'base.html' %}

{% block title %}Become a Licensee{% endblock %}
{% block content %}

<section class="usa-grid usa-section">

    <p><strong>
        According to federal regulations, Kimberley Process (KP) certificates must accompany every export of rough diamonds from the United States.  Only USKPA licensees can obtain KP certificates for use when exporting rough diamonds. Unlicensed entities wishing to export rough diamonds can obtain a KP certificate from a licensed common carrier. Entities that often export rough diamonds should consider becoming a USKPA licensee.
    </strong></p>

    <h1>How to become a USKPA Licensee</h1>

    <p>
        To become a USKPA licensee, your business must register for an Exporter Account on the U.S. Custom and Border Protection’s <a href='https://ace.cbp.dhs.gov/acexpub/acexpub_Apps/ExporterAccountApplication/expForm.php'>Automated Commercial Environment (ACE) website</a>. Once you have created an Exporter Account, <a href="mailto:{{CONTACT_US}}">contact the USKPA</a>. You will be required to provide documentation to the USKPA that you have successfully registered with the ACE system. Be prepared to provide detailed information about your business, including the state of incorporation, address, telephone number, fax number, email address, federal tax identification number, and a point of contact for your request.
    </p>

    <p>
        After reviewing your submitted information and researching your company, the USKPA will prepare a license agreement with requirements including procedures for using KP certificates to export diamonds in compliance with regulations.  These include an agreement to submit to periodic performance reviews by representatives of the US government and the USKPA. As a licensee, you will be asked to:
        <li>
            Ensure the security of KP certificates in your possession.
        </li>
        <li>
            Comply with all federal regulations pertaining to the use of KP certificates for import and export of rough diamonds.
        </li>
        <li>
            Fax KP certificates with U.S. and foreign jurisdiction to the proper authorities in the U.S.
        </li>
        <li>
            Maintain all records and documentation pertaining to the use of KP certificates.
        </li>
    </p>

    <p>
        All exports from the U.S. must also comply with current U.S. export reporting requirements. ACE uses the Automated Export System (AES) to ensure compliance with export reporting requirements. Upon completion and filing of export documentation, the AES will provide an Internal Transaction Number (ITN) to reference on your KP certificate. Additional guidance on obtaining ITNs is available at <a href="https://www.census.gov/foreign-trade/aes/aesdirect/transitiontoace.html">ACE AESDirect Resources</a>. This includes the ACE AESDirect User Guide, information on registering for an account, a video that will walk you through filing a shipment, and more.
    </p>

    <p>
        USKPA collects an annual fee from all licensees. Licensees in good standing are entitled to purchase KP certificates from the USKPA for use in exporting rough diamonds from the U.S.
    </p>

    </p>
        <a href="mailto:{{CONTACT_US}}">Contact the USKPA</a> to become licensed to export rough diamonds from the U.S.
    </p>
</section>
{% endblock %}
