{% extends 'base.html' %}

{% block title %}Become a Licensee{% endblock %}
{% block content %}

<section class="usa-grid usa-section">
    <h1>How to become a USKPA Licensee</h1>

    <p><strong>
        Only business entities licensed by the USKPA are authorized to
        use U.S. Kimberley Process certificates for the purpose of exporting
        rough diamonds from the U.S.
    </strong></p>

    <p>
        There are currently 16 licensees, including some common carriers such as
        Brinks Global, and Malca Amit. If an entity wishes to export rough diamonds
        but does not seek to become licensed, the use of a licensed common carrier is required.
        Individual businesses (not common carriers) who obtain a USKPA license are not
        permitted to provide U.S. KP certificates for any third party whatsoever.
    </p>

    <p>
        To become licensed, a business must register for an Exporter Account on the
        ACE website of the U.S. Transportation Security Administration.
        This is how to obtain an Internal Transaction Number (ITN) needed to register
        for an Exporter Account on the ACE website, and which will be entered onto an
        individual KP Certificate used for each export of rough diamonds.
    </p>

    <p>
        In order for the company to obtain an Internal Transaction Number (ITN),
        they need to register for an Exporter Account on the ACE website.
        To apply for an exporter account,
        visit <a href='https://ace.cbp.dhs.gov/acexpub/acexpub_Apps/ExporterAccountApplication/expForm.php'>
            https://ace.cbp.dhs.gov/acexpub/acexpub_Apps/ExporterAccountApplication/expForm.php</a>
    </p>

    <p>
        For additional guidance, please visit the ACE AESDirect Resources
        Page at: <a href="https://www.census.gov/foreign-trade/aes/aesdirect/transitiontoace.html">
            https://www.census.gov/foreign-trade/aes/aesdirect/transitiontoace.html
        </a>.
        This page has information on registering for an account, a video that will walk you
        through filing a shipment, the ACE AESDirect User Guide and more.
    </p>

    <p>
        Once this process has been completed, a new licensee must contact the USKPA,
        and provide detailed information about the entity that seeks to become licensed.
        This includes the specific identification of the business entity, along with state of
        incorporation, address, telephone, e-mail fax, federal tax identification number and
        contact person will be provided to the USKPA.
    </p>

    <p>
        The USKPA will prepare the license agreement for signature. A procedures manual will
        also be provided and templates of the application form and warranties required for your
        invoices and shipping documents. You will be asked to ensure the security of KP Certificates
        in your possession. You will be required to comply with all regulations pertaining to the
        use of KP certificates for both the export and the import of rough diamonds, including
        providing confirmations of receipt of shipments of rough diamonds to exporting authorities
        abroad, and faxing US and foreign jurisdiction KP certificates to the proper authorities in
        the US.
    </p>

    <p>
        Once the agreement is signed, an annual fee is collected by the USKPA. Once that payment
        has been processed, the licensee is entitled to purchase US KP certificates from the USKPA
        for use in exporting rough diamonds from the US.
    </p>

    </p>
        To become licensed by the USKPA, contact Cecilia L. Gardner,
        Director and General Counsel, USKPA at clg@cecilialgardner.com
    </p>
</section>
{% endblock %}
