{% extends 'base.html' %}
{% load static %}

{% block title %}Licensee: {{object.name}}{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}">
    <script defer src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
{% endblock header %}

{% block content %}
<div class="usa-grid">
  <div class="usa-width-one-half licensee-address-block">
    <div>
      <h1>{{object.name}} {% if not object.is_active %} (inactive) {% endif %}
        {% if user.is_superuser %}
          <a title='Edit licensee' href="{% url 'admin:kpc_licensee_change' object.id %}">
            <i class="far fa-edit"></i>
          </a>
        {% endif %}
      </h1>
      <div>
        <p><span class="attr-label">Address:</p>
        <p>{{object.address}}</p>
        {% if object.address2 %}
          <p>{{object.address2}}</p>
        {% endif %}
        <p>{{object.city}}, {{object.state}} {{object.zip_code}}</p>
        <p><span class="attr-label">Tax ID:</span> {{object.tax_id}}</p>
      </div>
    </div>

    <div class="listing">
      <h2>Contacts</h2>
      <table id='contactList' class="cell-border">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </thead>
        <tbody>
          {% for profile in object.contacts.all %}
          <tr>
            <td>{{profile}}</td>
            <td>{{profile.user.email}}</td>
            <td>{{profile.phone_number}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="usa-width-one-half listing">
    <h2>Address Book</h2>
    <span class="usa-form-hint">Made available as options to pre-populate 'Exporter' and 'Consignee' fields when preparing a certificate.</span>
    {% if object.addresses.all.exists %}
    <p><a href="{% url 'new-addressee' object.id %}" type="button" class="usa-button">Add address</a></p>
    <div id="addressList_filter" class="usa-width-two-thirds dataTables_filter">
      <label>Search Addresses:</label>
      <input type="search" class="" placeholder="" aria-controls="addressList">
    </div>
      <table id='addressList' class="cell-border">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Country</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </thead>
        <tbody>
          {% for addressee in object.addresses.all %}
          <tr>
            <td>{{addressee.name}}</td>
            <td>{{addressee.address}}</td>
            <td>{{addressee.country.name}}</td>
            <td><a href="{{addressee.get_absolute_url}}">Edit</a></td>
            <td><a href="{{addressee.get_delete_url}}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>
        <a href="{% url 'new-addressee' object.id %}">There are currently no address book entries, click here to add one.</a>
      </p>
      {% endif %}
  </div>
</div>

<script>
  $(document).ready( function () {
      $('#contactList').DataTable({
        "dom": "r"
      });

      var addressTable = $('#addressList').DataTable({
        "dom": "r"  //enable search field for addresses
      });

      // Or on search form change
      $('#addressList_filter input').change(function () {
      addressTable.search($('#addressList_filter input').val()).draw();
    });
  } )
</script>

{% endblock content %}
