{% load default_search %}
{% load static %}

<nav role="navigation" class="usa-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            <img src="{% static 'vendor/uswds/img/close.svg' %}" alt="close">
          </button>
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <a class="usa-nav-link {% if request.resolver_match.url_name == 'join' %}usa-current{% endif %}"
                 href="{% url 'join' %}">
                <span>Become A Licensee</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="{% url 'home' %}#about">
                <span>About Us</span>
              </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="usa-nav-link {% if request.resolver_match.url_name == 'certificates' %}usa-current{% endif %}"
                  href="{% url 'certificates' %}{% default_search user %}">
                  <span>Certificates</span>
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li>
                <a class="usa-nav-link {% if request.resolver_match.url_name == 'cert-register' %}usa-current{% endif %}"
                href="{% url 'cert-register' %}">
                  <span>Register Certificates</span>
                </a>
            </li>
            {% endif %}
            {% if user.profile.get_address_book_url %}
            <li>
              <a class="usa-nav-link {% if request.resolver_match.url_name == 'licensee' %}usa-current{% endif %}"
                 href="{{user.profile.get_address_book_url}}">
                <span>Address Book</span>
              </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li>
                <a class="usa-nav-link" href="{% url 'admin:index' %}">
                  <span>Admin</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="usa-nav-secondary">
          <ul class="usa-unstyled-list usa-nav-secondary-links">
            {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>
                Login
              </a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'profile' %}">
                <i class="fas fa-user"></i>
                {{user.username}}
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt"></i>
                  Logout
              </a>
            </li>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>
