[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
pytz = "*"
whitenoise = "*"
"argon2-cffi" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-localflavor = "*"
django-anymail = "*"
django-countries = "*"
django-datatables-view = "*"
django-filter = "*"
django-queryset-csv = "*"
reportlab = "*"
"pypdf2" = "*"
django-solo = "*"
django = "<2.3"
six = "*"
django-simple-history = "==2.12.0"

[dev-packages]
"flake8" = "*"
bandit = "*"
coverage = "*"
codecov = "*"
model-mommy = "*"

[requires]
python_version = "3.10"
