[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "*"
"psycopg2" = "*"
pytz = "*"
django = "*"
whitenoise = "*"


[dev-packages]

"flake8" = "*"
bandit = "*"


[requires]

python_version = "3.6"
