[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "*"
pytz = "*"
django = "*"
whitenoise = "*"
"argon2-cffi" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-localflavor = "*"
django-anymail = "*"
django-simple-history = "*"
django-countries = "*"
django-datatables-view = "*"
django-filter = "*"


[dev-packages]

"flake8" = "*"
bandit = "*"
coverage = "*"
codecov = "*"
model-mommy = "*"


[requires]

python_version = "3.6"
