{% extends 'mail/base.html' %}

{% block content %}
<p><strong>USKPA Certificate Change Request</strong></p>

Change Request: #{{edit_request.id}}<br>
Certificate Number: <a href="{{cert_url}}">{{edit_request.certificate}}</a><br>
Edit Request: <a href="{{review_url}}">#{{edit_request.id}}</a><br>
Submitted on: {{edit_request.date_requested}}<br>
Licensee: {{edit_request.certificate.licensee.name}}<br>
Requestor: {{edit_request.contact.profile.get_user_display_name}}<br>
Requestor Email: {{edit_request.contact.email}}<br>
Reviewed on: {{edit_request.date_reviewed}}<br>
<br>

<hr>

{% include 'mail/edit-change-table.html' %}

<hr>

Change request <a href="{{review_url}}">#{{edit_request.id}}</a> has been <strong>{{edit_request.get_status_display}}</strong>.
<br>
{% if edit_request.status == 1 %}
The requested changes have been applied.
{% else %}
The requested changes have been discarded.
{% endif %}
{% endblock %}