{% extends 'mail/base.html' %}

{% block content %}
<p><strong>USKPA Certificate Change Request</strong></p>

Date: {{edit_request.date_requested}}<br>
Licensee: {{edit_request.certificate.licensee.name}}<br>
Requestor: {{edit_request.contact.profile.get_user_display_name}}<br>
Requestor Email: {{edit_request.contact.email}}<br>
Certificate Number: <a href="{{cert_url}}">{{edit_request.certificate}}</a><br>
Edit Request: <a href="{{review_url}}">#{{edit_request.id}} (Click here to review)</a>

<hr>

<table style="border: 1px solid black; border-collapse: collapse; width: 100%">
  <thead>
    <th style="border: 1px solid black; width: 20%">Certificate Field</th>
    <th style="border: 1px solid black; width: 40%">Original Entry</th>
    <th style="border: 1px solid black; width: 40%">Change Entry To</th>
  </thead>
  <tbody>
  {% for field, old, new in edit_request.changed_fields_display %}
    <tr>
      <td style="border: 1px solid black">{{field|title}}</td>
      <td style="border: 1px solid black">{{old}}</td>
      <td style="border: 1px solid black">{{new}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}