{% extends "admin/change_form.html" %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}

  {% comment %}
    <!-- RENDER INLINES AFTER PERSONAL INFO BLOCK -->
    <!-- ONLY THE PROFILE INLINE IS EXPECTED HERE -->
  {% endcomment %}

  {% if fieldset.name == 'Personal info' %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
  {% endif %}

{% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% endblock %}
