.certificate-filters {
	margin-top: 1rem;
}

.certificate-filters label {
	font-weight: bold;
}

.certificate-filters fieldset {
	margin-top: 1em;
}

.certificate-filters label[for=id_status] {
	margin-bottom: -1em;
}

.certificate-filter-buttons {
	padding: 0;
}

.certificate-filters input[type=date] {
	font-size: 1.3rem;
}

.certificate-filter-buttons .usa-button {
	width: 100%;
}

.filter-toggle-link:link,
.filter-toggle-link:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 2rem;
	color: #212121;
}

.filter-toggle-link .fa-caret-left,
.filter-toggle-link .fa-caret-right {
	font-size: 2.3rem;
}

.filter-toggle-link .fa-caret-left {
	margin-right: 1rem;
}

.filter-toggle-link .fa-caret-right {
	margin-left: 1rem;
}
