.listing th,
.listing table.dataTable.cell-border tbody th,
.listing table.dataTable.cell-border tbody tr th:first-child,
.listing table.dataTable.cell-border tbody tr td:first-child {
	border: 0;
}

.listing td,
.listing table.dataTable.cell-border tbody td {
	border: 0;
	border-bottom: 1px solid #ddd;
}

.dataTables_info {
	padding-top: 0;
	padding-bottom: 1em;
}

table.dataTable.no-footer {
	font-size: 1.5rem;
}

.listing table {
	margin: 0em;
}
