{% extends 'base.html' %}

{% block title %}Create new addressee{% endblock %}

{% block content %}
<div class="usa-grid">
  <h1>Create a new address book entry for {{licensee.name}}</h1>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      {% include 'uswds/form-field.html' %}
    {% endfor %}
    <input type="submit" value="Create new addressee">
    <a class="usa-button" href="{{licensee.get_absolute_url}}">Cancel</a>
  </form>
</div>

{% endblock content %}
