{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrahead %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block admin_change_form_document_ready %}
  {{block.super}}
  <script>
    $('#id_kp_countries').select2({
      placeholder: 'Select one or more country',
    });
  </script>
{% endblock %}
