<div>
    <legend>Change Password</legend>
<small>You will need to login again after successfully changing your password.</small>
</div>
<div class="usa-width-one-half">
    {% for field in form %}
        {% include 'uswds/form-field-no-help-text.html' %}
    {% endfor %}
</div>
<div class="usa-width-one-half">
    {% if form.new_password1.help_text %}
    <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
            <h3 class="usa-alert-heading">Password information</h3>
            <p class="usa-alert-text">
                {{ form.new_password1.help_text|safe }}
            </p>
        </div>
    </div>
    {% endif %}
</div>
