
{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
    <div class="usa-grid alert-section">
        <div class="usa-alert usa-alert-error ">
            <div class="usa-alert-body">
                <h3 class="usa-alert-heading">Login Failed</h3>
                <p class="usa-alert-text">Your username and password didn't match. Please try again.</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="usa-grid">
    <h1>Login</h1>
</div>
<div class="usa-grid">
<form class="usa-form" method='POST' action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <fieldset>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off">
        <span class="usa-form-hint">case sensitive</span>

        <label for="password-sign-in">Password</label>
        <input id="password-sign-in" name="password" type="password">
        <p class="usa-form-note">
        <a title="Show password" href="javascript:void(0);"
            class="usa-show_password"
            aria-controls="password-sign-in">Show password</a>
        </p>
        <input type="submit" value="Sign in">
        <p><a href="{% url 'password_reset' %}" title="Forgot password">
        Forgot password?</a></p>
        <p><a href="mailto:{{CONTACT_US}}" title="Forgot password">
                Request an Account</a></p>
    </fieldset>
</form>
</div>

{% endblock %}
