{% extends 'certificate/base.html' %}

{% block certificate-body-fields %}
<form target='' method="POST">
    {% csrf_token %}
    <div id="certificate-body-fields">
        <div class="cert-header">
            <div class="usa-width-one-half">
                <div>
                     {% include 'uswds/form-field.html' with field=form.country_of_origin %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.aes %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.date_of_issue %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.date_of_expiry %}
                </div>
            </div>
            <div class="usa-width-one-half">
                <div>
                     {% include 'uswds/form-field.html' with field=form.number_of_parcels %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.shipped_value %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.carat_weight %}
                </div>
                <div>
                     {% include 'uswds/form-field.html' with field=form.harmonized_code %}
                </div>
            </div>
        </div>
        <hr>
        <div class="cert-body">
            <div>
                <div class="usa-width-one-half">
                     {% include 'uswds/form-field.html' with field=form.exporter %}
                </div>
                <div class="usa-width-one-half">
                     {% include 'uswds/form-field.html' with field=form.exporter_address %}
                </div>
            </div>
            <div>
                <div class="usa-width-one-half">
                     {% include 'uswds/form-field.html' with field=form.consignee %}
                </div>
                <div class="usa-width-one-half">
                     {% include 'uswds/form-field.html' with field=form.consignee_address %}
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Complete Certificate">
</form>
{% endblock %}
