{% extends 'certificate/base.html' %}
{% load staticfiles %}
{% block header %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'js/select2-position.js' %}"></script>
{% endblock %}

{% block certificate-body-fields %}
<form action="{{object.get_absolute_url}}" method="POST">
    {% csrf_token %}

    {% include 'certificate/fields_form.html' %}
    <div class="usa-grid">
        {% include 'certificate/fields-not-on-certificate.html' %}
        <hr>
    </div>
    {% with form.attested as field %}
    <div id="attestation" class="usa-grid">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <legend class="usa-sr-only">Attestation</legend>
            <ul class="usa-unstyled-list">
                {% if field.errors %}
                <li class="usa-input-error">
                    <input id="id_attested" type="checkbox" name="attested" value="attested">
                    <label class="usa-input-error-label" for="id_attested">{{field.help_text}}</label>
                    <span class="usa-input-error-message" role="alert">
                        {% for err in field.errors %}
                            {{err}}
                        {% endfor %}
                    </span>
                </li>
                {% else %}
                <li>
                    <input id="id_attested" type="checkbox" name="attested" value="attested" {% if not form.editable %}disabled{% endif %}>
                    <label for="id_attested">{{field.help_text}}</label>
                </li>
                {% endif %}
            </ul>
        <input type="submit" value="Submit" {% if not form.editable %}disabled{% endif %}>
        </fieldset>
    </div>
    {% endwith %}
</form>

<script>
    var EXPIRY_DAYS = {{form.expiry_days}};

    $(document).ready(function () {
        $('#id_country_of_origin').select2({
            placeholder: 'Select one or more countries'
        });

        // Calculate and set Date of Expiry
        $('#id_date_of_issue').change(function(){
            var dtIssued = moment(this.value, ['YYYY-MM-DD', 'MM/DD/YYYY']);
            if (dtIssued.isValid()){
                var expectedExpiry = dtIssued.add(EXPIRY_DAYS, 'days').format('MM/DD/YYYY');
                $('#id_date_of_expiry').val(expectedExpiry);
            } else {
                $('#id_date_of_expiry').attr('placeholder', 'Unable to calculate from entered Date of Issue');
            }
        })
    });


</script>

{% endblock %}
