{% extends 'base.html' %}

{% block title %}Edit Request{% endblock %}

{% block messages %}
{% if messages or form.non_field_errors or object.reviewed %}
<div class="usa-grid alert-section">
  {% include 'messages.html' %}
   {% if form.non_field_errors %}
    <div class="usa-alert usa-alert-error">
      <ul class="usa-checklist">
        {% for error in form.non_field_errors %}
        <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if object.reviewed %}
    <div class="usa-alert usa-alert-warning">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">{{object.get_status_display}} on: {{object.date_reviewed}}</h3>
        <p class="usa-alert-text">
          Reviewed by: {{object.reviewed_by}}
        </p>
      </div>
    </div>
  {% endif %}
{% endif %}
</div>
{% endblock messages %}

{% block content %}

<div class="usa-grid">
  <h1>Requested change for certificate:
      <a href="{{object.certificate.get_absolute_url}}">
        {{object.certificate}}
      </a>
  </h1>
  <p>Requested: {{object.date_requested}}</p>
  </p>

  {% if not object.reviewed %}
    {% if user.is_superuser %}
      <p>The following certificate changes were requested by <strong>{{object.contact.profile.get_user_display_name}}.</strong><br>
         Upon approval, the changes will be applied to the certificate record.
      </p>
    {% endif %}
  <p>Displayed "Previous Values" are the certificate values as of the date this change was requested.</p>
  {% endif %}
</div>

<div class="usa-grid">
  <table>
    <thead>
      <th>Field</th>
      <th>Previous Value</th>
      <th>Requested Value</th>
    </thead>
    <tbody>
      {% for field, old, new in object.changed_fields_display %}
      <tr>
        <td>{{field|title}}</td>
        <td>{% if old %}{{old}}{% endif %}</td>
        <td>{% if new %}{{new}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if not object.reviewed and user.is_superuser %}
<div id='edit-request-review' class='usa-grid'>
  <h2>Please review the changes above and approve or reject.</h2>
  <form action="" method="post">
    {% csrf_token %}
      <input type="submit" value='Reject' name='reject'>
      <input type="submit" value='Approve' name='approve'>
  </form>
</div>
{% endif %}

{% endblock %}
