{% extends 'base.html' %}

{% block title %}Certificate Search{% endblock title %}
{% block "header" %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<style>
    #id_status label {
        margin-top: 0em;
    }

    input[type=date] {
        padding: 0;
    }
</style>

{% endblock "header" %}

{% block content %}

<section class="usa-grid">
    <div class='usa-width-one-third filters'>
        {% include 'certificate/filters.html' %}
    </div>
    <div class="usa-width-two-thirds">
    <table id='certDataTable' class='table dataTable'>
        <thead>
            <th>Number</th>
            <th>Status</th>
            <th>Consignee</th>
            <th>Last Modified</th>
            <th>Value</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</section>

<script>
    $(document).ready(function() {
        var oTable = $('#certDataTable').DataTable({
            "dom": "irtlp",
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "{% url 'certificate-data' %}",
                data: function (d) {
                        // attach filter input data to outbound query
                        var filters = [];

                        $('input:not([type="checkbox"])').not('#certSearch').each(function (){
                            var value = $(this).val();
                            if (value) {
                                d[$(this).attr('name')] = value;
                                filters.push($(this).serialize());
                            }
                        });
                        // attach status checkbox data to outbound query
                        var status_values = [];
                        $("input[name='status']:checked").each(function () {
                            var value = $(this).val();
                            if (value) {
                                status_values.push(value);
                                filters.push($(this).serialize());
                            }
                        });
                        if (status_values){
                            d.status = status_values;
                        }
                        // add our filter parameters to window
                        if (filters.lengths != 0) {
                            window.history.pushState({}, null, '?' + filters.join('&'));
                        }

                }
            },
            "order": [[1, "asc"],
                      [0, "asc"]],
            language: {
                "info": "Showing _START_ to _END_ of _TOTAL_ certificates",
                "infoEmpty": "Showing 0 to 0 of 0 certificates",
                "infoFiltered": "(filtered from _MAX_ total)",
                "zeroRecords": "No certificates found",

            }
        });

        // Run our filtered search!
        $('#filterApply').click(function (event) {
            oTable.search($('#certSearch').val()).draw();
            event.preventDefault();
        });

        // clear all search filters and refresh data
        $('#resetFilters').click(function (event) {
            $(':input').not(':checkbox').not('[name=certDataTable_length]').val('');
            $('input:checked').prop('checked', false);
            window.history.pushState({}, null, '.');
            oTable.search($('#certSearch').val()).draw();
        });

        $('[name=certDataTable_length]').change(function(){
            oTable.page.len($(this).val()).draw();
        });

    });
</script>
{% endblock content %}
