{% extends 'base.html' %}
{% load static %}

{% block title %}Certificate Search{% endblock title %}
{% block page-title %} Certificate Search {% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}">
    <script defer src="{% static 'vendor/moment.min.js' %}"></script>
    <script defer src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script defer src="{% static 'js/collapse-certificate-filters.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/certificate-filters.css' %}">
{% endblock header %}

{% block content %}
<section class="usa-grid usa-section">
<h1>Certificate Search</h1>
    <div class='usa-width-one-third filters'>
        {% include 'certificate/filters.html' %}
    </div>
    <div class="usa-width-two-thirds listing">

    <table id='certDataTable' class='cell-border'>
        <thead>
            <th>Number</th>
            <th>Status</th>
            <th>Last Modified</th>
            <th>Licensee</th>
            <th>AES</th>
            <th>Consignee</th>
            <th>Value</th>
            <th>Date Issued</th>
            <th>Date Sold</th>
            <th>Expiry</th>
            <th>Parcels</th>
            <th>Carats</th>
            <th>HSC</th>
            <th>Exporter</th>
            <th>Date Shipped</th>
            <th>Date Delivered</th>
            <th>Date Voided</th>
            <th>Port of Export</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</section>

<script>
    const statuses = {{statuses|safe}};
    const ifAuditor = {% if user.profile.is_auditor %}true{% else %}false{% endif %};

    function dateToMoment(data) {
        if (data) {
            var dt = moment(data);
            return dt.format('M/D/YYYY');
        }
        return data;
    }

    function getFilters(table) {
        var filters = table.ajax.params();
        delete filters.draw;
        delete filters.columns;
        delete filters.order;
        delete filters.start;
        delete filters.length;
        delete filters.certDataTable_length;
        return filters
    }

    function updateExportHref(table) {
        var params = jQuery.param(getFilters(table));
        var export_url = 'export?' + params;
        $('#export').prop('href', export_url)
    }

    $(document).ready(function() {

        var oTable = $('#certDataTable').DataTable({
            dom: "irtlp",
            pageLength: 100,
            processing: true,
            serverSide: true,
            columns: [
                { data: "number",
                  render: function(data, type, row) {
                      var display_value = 'US' + data;
                      return "<a href='" + data + "'>" + display_value + "</a>";
                  }
                },
                { data: "status" ,
                  name: "status",
                  render: function(data, type, row) {
                      return statuses[data];
                  }
                },
                { data: "last_modified",
                  name: "last_modified",
                  render: function(data, type, row) {
                      return dateToMoment(data);
                  }},
                { data: "licensee__name", name: "licensee__name", visible: ifAuditor },
                { data: "aes", name: "aes", visible: ifAuditor },
                { data: "consignee",
                  name: "consignee"
                },
                { data: "shipped_value",
                  name: "shipped_value"
                },
                { data: "date_of_issue",
                  name: "date_of_issue",
                  visible: ifAuditor,
                  render: function (data, type, row) {
                    return dateToMoment(data);
                  }
                },
                { data: "date_of_sale",
                  name: "date_of_sale",
                  visible: false,
                  render: function (data, type, row) {
                    return dateToMoment(data);
                  }
                },
                { data: "date_of_expiry",
                  name: "date_of_expiry",
                  visible: false,
                  render: function (data, type, row) {
                    return dateToMoment(data);
                    }
                },
                { data: "number_of_parcels", name: "number_of_parcels", visible: false },
                { data: "carat_weight", name: "carat_weight", visible: false },
                { data: "harmonized_code__value", name: "harmonized_code", visible: false },
                { data: "exporter", name: "exporter", visible: ifAuditor },
                {
                    data: "date_of_shipment",
                    name: "date_of_shipment",
                    visible: false,
                    render: function (data, type, row) {
                        return dateToMoment(data);
                    }
                },
                {
                    data: "date_of_delivery",
                    name: "date_of_delivery",
                    visible: false,
                    render: function (data, type, row) {
                        return dateToMoment(data);
                    }
                },
                {
                    data: "date_voided",
                    name: "date_voided",
                    visible: false,
                    render: function (data, type, row) {
                        return dateToMoment(data);
                    }
                },
                { data: "port_of_export__name", name: "port_of_export", visible: ifAuditor }
            ],
            "ajax": {
                url: "{% url 'certificate-data' %}",
                data: function (d) {
                        // attach filter input data to outbound query
                        var filters = [];

                        $('input:not([type="checkbox"]), select').not('#certSearch').each(function (){
                            var value = $(this).val();
                            if (value) {
                                d[$(this).attr('name')] = value;
                                filters.push($(this).serialize());
                            }
                        });
                        // attach status checkbox data to outbound query
                        var status_values = [];
                        $("input[name='status']:checked").each(function () {
                            var value = $(this).val();
                            if (value) {
                                status_values.push(value);
                                filters.push($(this).serialize());
                            }
                        });
                        if (status_values){
                            d.status = status_values;
                        }
                        // add our filter parameters to window
                        if (filters.lengths != 0) {
                            window.history.pushState({}, null, '?' + filters.join('&'));
                        }
                }
            },
            "order": [0, "asc"],
            language: {
                "info": "Showing _START_ to _END_ of _TOTAL_ certificates",
                "infoEmpty": "Showing 0 to 0 of 0 certificates",
                "infoFiltered": "(filtered from _MAX_ total)",
                "zeroRecords": "No certificates found",

            }
        });

        // Run our filtered search on submit
        $('#filterApply').click(function (event) {
            oTable.search($('#certSearch').val()).draw();
            updateExportHref(oTable);
            event.preventDefault();
        });

        // Or on search form change
        $('#dataTable-filters').change(function () {
            oTable.search($('#certSearch').val()).draw();
            updateExportHref(oTable);
        });

        // clear all search filters and refresh data
        $('#resetFilters').click(function (event) {
            $(':input').not(':checkbox').not('[name=certDataTable_length]').val('');
            $('input:checked').prop('checked', false);
            window.history.pushState({}, null, '.');
            oTable.search($('#certSearch').val()).draw();
            event.preventDefault();
        });

        $('[name=certDataTable_length]').change(function(){
            oTable.page.len($(this).val()).draw();
        });

    });

</script>
{% endblock content %}
