{% extends 'base.html' %}

{% block content %}
<section class="usa-grid usa-section">
    <form target='' class="" method="POST">
            {{ form.media }}

            {% csrf_token %}
            <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-drop_text">Register new Certificates</legend>
                {% if form.non_field_errors %}
                    <div class="usa-alert usa-alert-error">
                        <ul class="usa-checklist">
                            {% for error in form.non_field_errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div>
                    <div class="usa-input-grid usa-input-grid-medium">
                        {% with form.licensee as field %}
                            {% include 'uswds/form-field.html' %}
                        {% endwith %}
                    </div>
                    <div class="usa-input-grid usa-input-grid-small">
                        {% with form.contact as field %}
                            {% include 'uswds/form-field.html' %}
                        {% endwith %}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                    {% with form.date_of_issue as field %}
                        {% include 'uswds/form-field.html' %}
                    {% endwith %}
            </fieldset>

            <fieldset class="usa-fieldset-inputs usa-sans">

                <legend class="usa-sr-only">Registration Method</legend>
                <p>Registration Method</p>
                <ul class="usa-unstyled-list">
                    <li>
                    <input id="sequentialRegister" type="radio"
                            {% if form.registration_method.value != 'list' %}
                                checked
                            {% endif %}
                            name="registration_method" value="sequential">
                    <label for="sequentialRegister">Sequential</label>
                    </li>
                    <li>
                    <input id="listRegister" type="radio"
                            {% if form.registration_method.value == 'list' %}
                                checked
                            {% endif %}
                            name="registration_method" value="list">
                    <label for="listRegister">List</label>
                    </li>
                </ul>

            </fieldset>
            <fieldset class="usa-fieldset-inputs usa-sans"
                        id='sequentialInputs'
                        {% if form.registration_method.value == 'list' %}
                            style='display: none'
                        {% endif %}
                >
                <div class="usa-input-grid usa-input-grid-small">
                    {% with form.cert_from as field %}
                        {% include 'uswds/form-field.html' %}
                    {% endwith %}
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    {% with form.cert_to as field %}
                        {% include 'uswds/form-field.html' %}
                    {% endwith %}
                </div>
            </fieldset>

            <fieldset class="usa-fieldset-inputs usa-sans"
                        id='listInputs'
                        {% if form.registration_method.value != 'list' %}
                            style='display: none'
                        {% endif %}
                    >
                {% with form.cert_list as field %}
                    {% include 'uswds/form-field.html' %}
                {% endwith %}
                <span class="usa-input-label-helper">comma delimited</span>
            </fieldset>
            <fieldset class="usa-fieldset-inputs usa-sans">
                <div class="usa-input-grid usa-input-grid-small">
                    {% with form.payment_method as field %}
                        {% include 'uswds/form-field.html' %}
                    {% endwith %}
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    {% with form.payment_amount as field %}
                        {% include 'uswds/form-field.html' %}
                    {% endwith %}
                </div>
            </fieldset>
            <input type="submit" value="Issue Certificates">
    </form>
</section>

<script>
    $( "input[name='registration_method']" ).change( function(input) {
        toggleRegistration(input);
    });

    function toggleRegistration(id) {
        var toggleThese = ['listInputs', 'sequentialInputs']
        toggleThese.forEach( function(id) {
            div = document.getElementById(id);
            div.style.display = div.style.display == "none" ? "block" : "none";
        });
    }


$( document ).ready(function() {

    $('#id_licensee').change(function() {
        var licensee = this.value;
        updateContacts(licensee);
    });

    function updateContacts(licensee) {
        var options = '<option value="">------</option>';

        $.getJSON({
            url: "{% url 'licensee-contacts' %}",
            data: {"licensee": licensee},
            success: function(response) {
                if ( response.length == 0 ) {
                    if (licensee == '') {
                        options = '<option value="">Select a licensee</option>';
                    } else {
                        options = '<option value="">No contacts available</option>';
                    }
                }
                response.forEach (function(contact) {
                    options += '<option value="' + contact.id + '">' + contact.name + '</option>';
                });
                $('#id_contact').html(options);

            },
            error: function(xhr) {
                alert("Failed to fetch list of Contacts.\nPlease select another licensee or contact us for assistance.");
            }
        });
    };
});
</script>

{% endblock %}
